#contacto{
    display: inline-flex;
    margin-bottom: 30px;
  }
  #mapa{
    margin-left: 150px;
    margin-right: 50px;
    display: inline;
  }
  #datos label, p{
    width: 400px;
    height: 10%;
    margin-left: 20px;  
  }
  .servicios ul, label{
    display: block;
    margin-top: -20px;
    font-size: 120%;
    font-family: Roboto, Arial, Helvetica;
  }
  .servicios ul, li, label{
    pointer-events: none;
    font-size: 120%;
    font-family: Roboto, Arial, Helvetica;
  }
  
  h3{
    text-transform: uppercase;
    font-size: 110%;
  }
  #mesagge{
    display: inline-flex;
    margin-left: 8%;
    margin-bottom: 20px;
  }
  #norma {  
    margin-bottom: 10px;
    margin-left: -8%;
    font-family: Serif_Sketch;
  }

  #normas{
    display: inline-flex;
    margin-left: 100px;
    width: 600px;
    font-size: 80%;
    margin-bottom:10px;
    margin-left: 10%;
}
