
<div id="title"><h1>{{title}}</h1></div>

<section class="about">
    <h3>Nuestra historia</h3>
    <p>En nuestra trayectoria como hostal de recreo, hemos brindado experiencias inolvidables a nuestros huéspedes. A lo largo de los años, hemos construido un legado de hospitalidad excepcional y hemos creado un ambiente acogedor donde cada visita se convierte en un hermoso recuerdo.</p>
</section>
<section class="about">
    <h3>Nuestra misión</h3>
    <p>Nuestra misión es proporcionar un refugio de relajación y entretenimiento para nuestros huéspedes. Nos esforzamos por ofrecer servicios y comodidades de alta calidad que superen sus expectativas. Nuestro objetivo es ser el destino preferido para aquellos que buscan escapar de la rutina y disfrutar de momentos memorables en un entorno único.</p>
</section>
<section class="about">
    <h3>Nuestros valores</h3>
    <p>Nuestros valores se basan en la excelencia en el servicio, la atención personalizada y el respeto hacia nuestros huéspedes. Valoramos la calidad en cada detalle, desde nuestras instalaciones hasta la calidez de nuestro equipo. Nos esforzamos por crear un ambiente familiar donde cada persona se sienta bienvenida y atendida en todo momento.</p>
</section>
<section class="about">
    <h3>Nuestro equipo</h3>
    <p>Nuestro equipo está conformado por personas apasionadas por la hospitalidad y comprometidas con brindar experiencias excepcionales. Cada miembro de nuestro equipo está dedicado a hacer que la estancia de nuestros huéspedes sea lo más placentera posible. Estamos aquí para atender sus necesidades y asegurarnos de que disfruten de su tiempo en nuestro hostal de recreo al máximo.</p>
</section>
