<div id="title"><h1>{{title}}</h1></div>

<section class="about">
    <h3>nuestra historia</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore maxime non earum necessitatibus amet reiciendis, iste consequuntur minima delectus, illum ipsam similique explicabo! Iusto possimus quod explicabo dolorum magnam natus.</p>
</section>
<section class="about">
    <h3>nuestra mision</h3>
    <p>Lorem gfg ipsum dolor sit amet consectetur adipisicing elit. Ad reprehenderit reiciendis eaque fuga facere enim voluptate esse unde quam nulla doloribus distinctio, aliquid tempora repellendus incidunt voluptas voluptatem ipsam? Dignissimos!</p>
</section>
<section class="about">
    <h3>nuestros valores</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut temporibus quisquam minima ipsa, quas dignissimos aspernatur numquam unde reprehenderit, animi eius facere rem quasi incidunt sit itaque quo obcaecati id.</p>
</section>
<section class="about">
    <h3>nuestro equipo</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci iste sed facere beatae consectetur doloremque consequuntur esse omnis animi quibusdam eligendi labore corrupti, ipsa, corporis eum. Aliquid explicabo doloribus qui!</p>
</section>