<div id="title"><h1>{{title}}</h1></div>
<dir id="slider"><app-img></app-img></dir>

<section id="presentacion">
    <h3>Que encontraras</h3>
    <p>En nuestra granja de recreo y posada rural en Antioquia, Colombia, encontrarás una combinación perfecta de naturaleza, actividades al aire libre, hospitalidad y autenticidad. Te invitamos a sumergirte en la vida en el campo, disfrutar de nuestra hospitalidad y crear recuerdos inolvidables en este hermoso rincón de Antioquia.</p>
</section>
<section id="experiencias">
    <h3>Vive estas experiencias</h3>
    <p>Tour por la granja: Acompáñanos en un recorrido guiado por nuestra granja, donde podrás aprender sobre la agricultura sostenible y conocer a nuestros animales de granja. Alimenta a las gallinas, acaricia a las cabras y aprende sobre los cuidados de nuestros animales.</p><br>
    <p>Relajación en la naturaleza: Disfruta de momentos de tranquilidad en nuestros espacios al aire libre. Realiza un picnic rodeado de hermosos paisajes, respira aire fresco y relájate en medio de la naturaleza. También podrás disfrutar de una deliciosa barbacoa al aire libre.</p><br>
    <p>Estadía en la posada rural: Descansa y recarga energías en nuestras acogedoras habitaciones en la posada rural. Disfruta de la paz y la calma del entorno campestre, y despiértate con vistas panorámicas y el canto de los pájaros.</p><br>
    <p>Exploración de los alrededores: Aprovecha la ubicación privilegiada de nuestra granja para explorar los alrededores. Únete a nuestras excursiones a cascadas, miradores y parques naturales cercanos, donde podrás maravillarte con la belleza natural de Antioquia y disfrutar de aventuras al aire libre.</p><br>
    
</section>
<section class="servicios">
    <h3>Nuestros servicios</h3>
    <ul>
        <li>Piscina</li>
        <li>Cocina</li>
        <li>Wifi</li>
        <li>Aire acondicionado</li>
    </ul>
</section>
