<div id="title"><h1>{{title}}</h1></div>
<dir id="slider"><app-img></app-img></dir>

<section id="presentacion">
    <h3>Que encontraras</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dicta quaerat quam perspiciatis quod quae, suscipit tempore nemo? Animi qui eos dicta, quasi reiciendis aut fugiat inventore non alias assumenda.</p>
</section>
<section id="experiencias">
    <h3>Vive estas experiencias</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, temporibus cum quaerat autem praesentium sint provident veritatis voluptas maiores nesciunt rem itaque harum ea sit omnis, id libero iste repellat.</p>
</section>
<section class="servicios">
    <h3>Nuestros servicios</h3>
    <ul>
        <li>Piscina</li>
        <li>Cocina</li>
        <li>Wifi</li>
        <li>Aire acondicionado</li>
    </ul>
</section>
