/*Tipos de letra*/
@font-face {
    font-family: Fake_Serif;
    src: url("fonts/Fake_Serif.ttf");
}
@font-face {
    font-family: Serif_Sketch;
    src: url("fonts/Serif_Sketch.ttf");
}
@font-face {
    font-family: ForwardSerifBold;
    src: url("fonts/ForwardSerifBold.otf");
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Serif_Sketch, Arial, Helvetica;
    font-size: 100%;
    background:url("../img/sendero.jpeg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}

h1{
    font-family: Fake_Serif, Arial, Helvetica;
    font-size: 60px;
    text-align: center;
    padding-bottom: 5%;
    
}

/*Navegador*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    
  } 
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0 10px;
    transition: color 50ms, transform 500ms;
    -webkit-transition: color 50ms, transform 500ms;
    -moz-transition: color 50ms, transform 500ms;
    -ms-transition: color 50ms, transform 500ms;
    -o-transition: color 50ms, transform 500ms;
}
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Mostrar el menú en dispositivos móviles */
  @media only screen and (max-width: 600px) {
    nav {
      display: block;
    }
    ul {
      flex-direction: column;
      align-items: center;
    }
    li {
      margin: 10px 0;
    }
  }
  
  /* Efecto hover en los elementos del menú */
  li:hover {
    font-size:20px;
    background-color: rgba(255, 255, 255, 0.423);
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
  a:hover, .actived{
    color: #0000009d;
  }

  /*Logo*/

#logo {
    width: 100px;
}
#logo:hover{
    background: transparent;
    cursor:default ;
}

/*contenedor*/

#content{
    width: 90%;
    min-height: 900px;
    margin: auto;
    box-shadow: 0px 0px 30px black;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 10px;
}

