<div id="title"><h1>{{title}}</h1></div>
<h2>Descripción de servicios</h2>
<img src="" alt="">
<section class="servicios">
    <ul>
        <li>Disfruta de visitas guiadas por nuestra granja de recreo en la vereda Rodas de Liborina</li>
        <li>Explora los alrededores en emocionantes paseos y caminatas al campo </li>
        <li>Embárcate en emocionantes aventuras a caballo en nuestro hostal de recreo</li>
        <li>Diviértete con actividades para niños, como la búsqueda de tesoros y juegos al aire libre</li>
        <li>Participa en eventos especiales que se celebran en nuestra granja de recreo</li>
        <li>Adquiere productos frescos de la región, donde ofrecemos frutas y verduras locales, huevos frescos y miel de la zona</li>
        <li>Disfruta de relajantes picnics y deliciosas barbacoas en las áreas designadas de nuestro hostal</li>
        <li>Participa en talleres de cocina donde aprenderás a preparar platos tradicionales de la región y disfruta de su sabor auténtico</li>
    </ul>
    
    
</section>
