<div id="title"><h1>{{title}}</h1></div>
<h2>descripcion de servicios</h2>
<img src="" alt="">
<section class="servicios">
    <ul>
        <li>Visitas guiadas a la granja</li>
        <li>Paseos en tractor</li>
        <li>Montar a caballo</li>
        <li>Actividades para niños, como la caza de huevos de Pascua</li>
        <li>Eventos de temporada, como la cosecha de manzanas y la siembra de calabazas</li>
        <li>Venta de productos de la granja, como frutas y verduras frescas, huevos y miel</li>
        <li>Picnics y barbacoas en las áreas designadas</li>
        <li>Talleres de cocina y degustaciones de vino</li>
    </ul>
</section>
