<h2>Escribenos</h2>
<form action="" method="post">
    <label for="name" aria-required="true">Nombre</label>
    <input type="text" id="name">
    <label for="surname">Apellido</label>
    <input type="text" id="surname">
    <label for="phone">Telefono</label>
    <input type="number">
    <label for="email">Correo</label>
    <input type="email">
    <label for="mesagge">Mensaje</label>
    <textarea name="mesagge" id="mesagge" cols="30" rows="10"></textarea><br>
    <input type="submit" id="submit">
</form>